.about {
    background: 
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
		url(../../images/paperMaps.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

    border-radius: 1rem;
}