// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-white_darken: #e6e3e3;
$color-gray: #262e2c;
$color-green_dark: #29463e;
$color-green_darken: #0f241b;
$color-light_green: #687773;
$color-shadow: rgb(35, 48, 68);
$color-link_hover: #cf316e;
$color-link_hover-light: #ff416f;
$color-form_color: #913068;
$color-card: #E8E2E2;
$color-blue: #4169E1;