// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-white_darken: #e6e3e3;
$color-gray: #262e2c;
$color-green_dark: #29463e;
$color-green_darken: #181f1c31;
$color-light_green: #687773;
$color-shadow: rgba(57, 63, 72, .3);
$color-link_hover: #cf316e;
$color-link_hover-light: #ff416f;
$color-form_color: #913068;
$color-card: #E8E2E2;